<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item</title>

    <style>
        body{
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            background: #f4f4f4;
        }
        
        form{
            background: white;
            padding: 20px;
            width: 300px;
            margin: auto;
            border-radius: 8px;
        }

        input{
            width: 90%;
            padding: 8px;
            margin: 8px;
        }

        button{
            padding: 10px;
        }
    </style>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<a href="paginaconsulta.html" ><button class="voltar">Voltar</button></a>
<br><br>
<div class="titulo">
 <h1>Consulta de Estoque</h1>
</div>

<input type="text" id="nomeItem" placeholder="Nome do item">

<br><br>

<input type="number" id="quantidadeItem" placeholder="Quantidade">

<br><br>

<button onclick="adicionarItem()">Adicionar</button>

<script src="script.js"></script>

</body>
</html>